html, body {
	border: 0;
	margin: 0;
	padding: 0;
	background: #ececec;
	color: #28323C;
	font-family: 'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', Arial, sans-serif;
	font-size: 14px;
	overflow-y: auto;
	margin-bottom:50px;

}


#top {
	padding: 2px;
	width:980px;
	margin-left: auto;
	margin-right: auto;
}
#content{
	margin-top:30px;
}
#header {
	padding: 2px;
	height:80px;
	border-bottom:solid green 1px;
}

#menu {
	padding: 2px;
	border-bottom:solid green 1px;
}
#footer {
	width:1100px;
	margin-left: auto;
	margin-right: auto;
	border-style:solid;
	border-width:medium;
}
.footer_content{
	float:left;
	width:300px;
	padding-left:10px;
	padding-top:10px;
	border:solid green 1px;
}

fieldset {
	border: 0;
	width:800px;
	position:relative;
	
}

fieldset ol {
	list-style-type: none;
	padding: 0;
	
}

fieldset label {
	text-align: left;
	margin: 4px 8px 6px 0;
	display : inline-block;
}

form label{
width:200px;
}
form .inline label{

}

fieldset input {
	width:300px;
}


fieldset li {
	margin-bottom: 12px;
	/**float:left;**/
}
.search{
	float:right;
}
.upload_buyer{
	padding-top:30px;
	border:solid green 1px;
}
#cancel_upload{
	cursor: pointer;
}
#footer{
	margin-top:100px;
}

/**placeholder**/
		::-webkit-input-placeholder	{ color:#f00; }
		input:-moz-placeholder { color:#f00; }
		
		input:-ms-placeholder { color:#f00; }
		::-ms-input-placeholder	{ color:#f00; }
		:-ms-input-placeholder	{ color:#f00; }
		
		/* individual */
		#field2::-webkit-input-placeholder { color:#00f; }
		
		#field2::-moz-placeholder { color:#00f; }
		
/**popup**/

