html, body {
	border: 0;
	margin: 0;
	padding: 0;
	background: #ececec;
	color: #28323C;
	font-family: 'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', Arial, sans-serif;
	font-size: 14px;

}

#hwrap {
	background: #000;
	color: #fff;
	width: 100%;
	text-align: center;
}

header {
	width: 960px;
	margin: 0 auto;
	text-align: left;
}

header h1 {
	margin: 0;
	padding: 18px 0px 18px 80px;
	background: url(/images/kite_small.png) no-repeat;
}

nav {
	width: 960px;
	margin: 0 auto;
	text-align: left;
	background: #A9271A;
	border-radius: 8px 8px 0 0;
}

nav ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

nav li {
	padding: 4px 8px 0 8px;
	margin: 0;
	float: left;
	font-size: 18px
}

nav #rmenu li {
	float: right;
}

nav a {
	display: block;
	margin: 0 4px;
	padding: 2px 8px;
}

nav a:link, nav a:visited {
	color: #fff;
	text-decoration: none;
}

nav a:hover, nav a.active {
	background: #fff;
	border-radius: 4px 4px 0 0;
	color: #A9271A;
}

.cl {
	clear: both;
	margin: 0;
	padding: 0;
	height: 0;
}

#wrap {
	background: #fff;
	border-left: #aaa 1px solid;
	border-right: #aaa 1px solid;
	width: 960px;
	margin: 0 auto;
	text-align: left;
}

section {
	padding: 16px;
	min-height: 400px;
}

fieldset {
	border: 0;
}

fieldset ol {
	list-style-type: none;
	padding: 0;
}

fieldset label {
	display: block;
	float: left;
	width: 150px;
	text-align: right;
	margin: 4px 8px 6px 0;
}

fieldset li {
	margin-bottom: 12px;
	clear: left;
}

fieldset li .wijmo-checkbox {
	float: none;
	margin: 8px 8px 6px 130px;
	height: 18px
}

fieldset li ..wijmo-wijradio {
	float: none;
	margin: 8px 8px 6px 130px;
	height: 18px
}

.wijmo-wijradio label {
	float: none;
	text-align: left;
	padding: 0 0 0 2em;
}

.wijmo-wijtextbox {
	background-position: 50% 0;
	padding: 2px;
}

.ui-selectmenu-button span.ui-button-text {
	padding: 2px 1em;
}

table {
	width: 100%;
	border: 0;
	margin: 0;
	padding: 0;
	border-collapse: collapse;
}

table th {
	border-bottom: 2px solid #A9271A;
	padding: 6px 4px;
	font-weight: normal;
	font-size: 14px;
}

table tbody tr:hover {
	color: #000;
	background: #eeaaaa;
}

.small {
	font-size: 12px;
}

footer {
	background: #000;
	color: #fff;
	text-align: center;
	padding: 8px;
	font-size: 12px;
	font-weight: bold;
}

.ui-autocomplete-loading {
	background: url(/images/autocomplete.gif) right center no-repeat !important
}

#login_box {
	width: 300px;
	height: 190px;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -95px;
	margin-left: -150px;
}

#properties_box {
	width: 600px;
	margin: 50px auto;
}

#properties_box .details_inner {
	padding: 8px;
}

.details_box .details_header {
	background: #A9271A;
	color: #fff;
	-webkit-border-top-left-radius: 8px;
	-webkit-border-top-right-radius: 8px;
	-moz-border-radius-topleft: 8px;
	-moz-border-radius-topright: 8px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border: #000 1px 1px 0 1px solid;
	margin: 0;
	padding: 8px 0 6px 0;
	text-align: center;
	position: relative;
}

.details_box .details_header h3 {
	margin: 0 0 0 10px;
}

.details_box .details_header div {
	width: 72px;
	height: 66px;
	position: absolute;
	left: -28px;
	top: -18px;
	background: url(/images/kite_small.png) no-repeat;
}

.details_box .details_inner {
	-webkit-border-bottom-right-radius: 8px;
	-webkit-border-bottom-left-radius: 8px;
	-moz-border-radius-bottomright: 8px;
	-moz-border-radius-bottomleft: 8px;
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
	border: #000 1px solid;
	background: #fff;
}

.details_box fieldset label {
	width: 90px;
}

.details_box input.ui-button {
	margin: 0 0 0 100px;
}