

/* Showcase
-------------*/

#awOnePageButton .view-slide
{
	display: none;
}

/* This class is removed after the showcase is loaded */
/* Assign the correct showcase height to prevent loading jumps in IE */
.showcase-load
{
	height: 100px; /* Same as showcase javascript option */
	overflow: hidden;
}

/* Container when content is shown in slider */
.showcase
{
	position: relative;
	margin: auto;
}

	.showcase-content-container
	{

	}
	
	/* Navigation arrows */
	/*.showcase-arrow-previous, .showcase-arrow-next

	}
	
	/* Navigation arrows */
	/*.showcase-arrow-previous, .showcase-arrow-next

	{
		position: absolute;
		background: url('../images/arrows.png');
		width: 33px;
		height: 33px;
		top: 40px;
		z-index:100;
		cursor: pointer;

	}*/
	
	/*.showcase-arrow-previous
	{
		left: 0px;
	}*/

	
	.showcase-arrow-previous
	{
		left: 0px;
	}

	
	.showcase-arrow-previous:hover
	{
		background-position: 0px -34px;
	}
	

	.showcase-arrow-next
	{
		right: 0px;
		background-position: -34px 0;
	}

	
	.showcase-arrow-next:hover
	{
		background-position: -34px -34px;
	}
	
	/* Content */
	.showcase-content
	{

		text-align: left;

	}
		
		.showcase-content-wrapper
		{
			/*text-align: center;
			text-align: center;
			height: 90px;
			width: 380px;
			margin-left:30px;
			display: table-cell;
			vertical-align: middle;*/
		}
		
		
	.showcase-onepage .showcase-content
	{
		margin-bottom: 10px;
	}
	
	/* Button Wrapper */
	.showcase-button-wrapper
	{
		display:none;
	}
	

/* Clear (used for horizontal thumbnails)
-------------------------------------------*/

.clear
{
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
	float: none;
}

