/*
 * Site name: AgentSee
 * Site url: http://
 * Author: SoftwareSeni
 * Author url: http://www.softwareseni.co.id
 * Build with Compass Sass
 * Description : 
 * (c) 2014
*/

abbr, address, article, aside, audio, b, blockquote, body, canvas, caption, cite, code, dd, del, details, dfn, div, dl, dt, em, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, p, pre, q, samp, section, small, span, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, ul, var, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: 0 0
}
body {
	line-height: 1
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block
}
nav ul {
	list-style: none
}
blockquote, q {
	quotes: none
}
blockquote:after, blockquote:before, q:after, q:before {
	content: '';
	content: none
}
a {
	margin: 0;
	padding: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: 0 0
}
ins {
	background-color: #ff9;
	color: #000;
	text-decoration: none
}
mark {
	background-color: #ff9;
	color: #000;
	font-style: italic;
	font-weight: 700
}
del {
	text-decoration: line-through
}
abbr[title], dfn[title] {
	border-bottom: 1px dotted;
	cursor: help
}
table {
	border-collapse: collapse;
	border-spacing: 0
}
hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0
}
input, select {
	vertical-align: middle
}
body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	background: #f0f0f0;
	color: #313131
}
h1, h2, h3, h4 {
	font-family: Helvetica, Arial, sans-serif
}
h1 {
	font-size: 32px
}
h2 {
	font-size: 24px
}
h3 {
	font-size: 18px
}
h4 {
	font-size: 14px
}
a {
	text-decoration: none;
	transition: all .4s ease-in-out
}
a:hover {
	transition: all .4s ease-in-out
}
ol, ul {
	list-style-type: none
}
.wrap {
	width: 1000px;
	margin: 0 auto
}
.left {
	float: left
}
.right {
	float: right
}

/* ===== HEADER ===== */
header {
	width: 100%;
	height: 135px;
	background: #e4df34;
	border-bottom: 4px solid #fff;
	text-align: center
}
header .logo {
	width: 100%;
	padding-top: 20px
}
header h4 {
	font-family: Helvetica, Arial, sans-serif;
	font-weight: 400;
	margin-top: 20px
}
/* ===== End of HEADER ===== */

/* ===== TOP MENU ===== */
section.top-home {
	padding-top: 30px;
	padding-bottom: 15px;
	overflow: auto;
	border-bottom: 1px solid #fff
}
section.top-home dl dd {
	color: #fff;
	min-width: 240px
}
section.top-home dl dd h3 {
	font-weight: 400;
	margin-bottom: 14px
}
section.top-home dl dd i {
	margin-right: 15px
}
section.top-home dl dd a {
	color: #e4df34;
	font-family: Arial;
	font-size: 14px
}
section.top-home dl dd a:hover {
	color: #fff
}
section.top-home dl .for-sm {
	min-width: inherit;
	margin-top: 10px
}
section.top-home dl .register {
	width: 380px
}
section.tab-home {
	width: 1000px;
	min-height: 424px;
	background: #fff;
	margin-top: 46px;
	margin-bottom: 64px;
	position: relative;
	z-index: 9
}
h1.title-tab {
	width: 342px;
	height: 88px;
	display: inline-block;
	background: url(../images/ribbon-tab.png);
	position: absolute;
	top: -16px;
	right: -22px;
	font-family: Arial;
	font-size: 28px;
	font-weight: 400;
	text-align: center;
	color: #19394d;
	z-index:2;
}
h1.title-tab span {
	display: block;
	padding-top: 20px
}
.ui-tabs {
	padding: 26px !important;
}
.ui-tabs ul {
	display: block;
}
.ui-tabs ul li {
	float: left
}
.ui-tabs ul li a {
	display: inline-block;
	padding: 10px 15px
}
.ui-tabs li.ui-state-default {
	background: #f5f5f5;
	border-top: 1px solid #d9d9d9;
	border-right: 1px solid #d9d9d9
}
.ui-tabs li.ui-state-default a {
	color: #0099b5
}
.ui-tabs li.ui-state-active {
	background: #19394d;
	border: 0
}
.ui-tabs li.ui-state-active a {
	color: #f0f0f0
}
.ui-tabs .ui-tabs-panel {
	background: #f0f0f0;
	border: 1px solid #d9d9d9;
	padding: 20px;
	overflow: auto;
	position: relative;
	top: -2px
}
.ui-tabs .ui-tabs-panel aside {
	width: 400px;
	float: right
}
.ui-tabs .ui-tabs-panel aside h3 {
	font-size: 18px;
	font-weight: 400;
	color: #0099b5
}
.ui-tabs .ui-tabs-panel aside dl {
	margin-top: 15px
}
.ui-tabs .ui-tabs-panel aside dl dd {
	font-size: 13px;
	font-family: Arial;
	line-height: 18px;
	margin-bottom: 10px;
	padding-left: 26px;
	background-image: url(../images/assets-ico.png);
	background-position: -194px 2px;
	background-repeat: no-repeat
}
.ui-tabs .ui-tabs-panel aside .s-tabs h4 {
	color: #0099b5;
	text-transform: uppercase;
	margin-top: 20px;
	margin-bottom: 14px
}
.ui-tabs .ui-tabs-panel aside .s-tabs input[type=text] {
	width: 256px
}
.ui-tabs .ui-tabs-panel aside .s-tabs .btn-s-tabs {
	margin-left: -10px;
}
.ui-tabs .ui-tabs-panel aside .s-tabs .s-tabs-regis {
	margin-top: 20px
}
.ui-tabs .ui-tabs-panel aside .s-tabs .s-tabs-regis label {
	padding-left: 20px
}
.ui-tabs .ui-tabs-panel aside .s-tabs .s-tabs-regis label a {
	font-family: Arial;
	font-size: 15px
}
.ui-tabs .ui-tabs-panel aside .s-tabs .s-tabs-regis label a:hover {
	text-decoration: underline
}
.ui-tabs .ui-tabs-panel aside .s-tabs .s-tabs-regis a {
	font-size: 14px;
	font-weight: 400;
	color: #0099b5
}
.ui-tabs .state-video {
	background: #000
}
section.tab-home .ui-tabs .ui-corner-top {
	border-radius:0px;
}
/* ===== End of TOP MENU ===== */

/* ===== GENERAL CONTENT ===== */
#content {
	width: 100%
}
.home {
	background-color: #0099b5;
	width: 100%;
	min-height: 500px;
	overflow: auto;
	position: relative
}
.testimonial {
	height: 560px
}
.testi {
	background: #eee;
	height: 400px;
	text-align: center
}
.bg1, .bg2 {
	width: 100%;
	height: 96px;
	display: block;
	position: absolute;
	bottom: 0
}
.bg1 {
	background-image: url(../images/bghome.png);
	background-position: -72px top
}
.bg2 {
	background-image: url(../images/bghome.png);
	background-position: -186px 98px;
	height: 76px
}
section.testi {
	margin-top: 50px
}
section.testi h2 {
	font-weight: 400;
	color: #19394d
}
.testi-box {
	width: 460px;
	height: 148px;
	text-align: left;
	position: relative
}
.box-ads.left {
	margin-left: 25px
}
.box-ads.right {
	margin-right: 25px
}
input[type=email], input[type=password], input[type=text], select {
	border: 1px solid #8ed1dd;
	padding: 5px 10px;
	transition: .4s ease-in-out
}
input[type=email]:focus, input[type=password]:focus, input[type=text]:focus, select:focus {
	outline: 0;
	box-shadow: 0 0 5px #0099b5;
	transition: .4s ease-in-out
}
input[type=email]:hover, input[type=password]:hover, input[type=text]:hover, select:hover {
	box-shadow: 0 0 5px #79eaff;
	transition: .4s ease-in-out
}
.showcase {
	padding: 10px 40px
}
.showcase p {
	font-family: Arial;
	font-size: 16px;
	line-height: 22px
}
.showcase p.testi-name {
	font-family: Arial;
	font-size: 18px;
	color: #0099b5;
	float: right;
	margin-top: 10px
}
.showcase .showcase-arrow-next {
	width: 27px;
	height: 53px;
	background-image: url(../images/assets-ico.png);
	background-repeat: no-repeat;
	background-position: 0 0;
	position: absolute;
	top: 45px;
	left: 0;
	cursor: pointer;
	transition: .2s ease-in-out
}
.showcase .showcase-arrow-next:hover {
	background-position: 5px 0;
	transition: .2s ease-in-out
}
.showcase .showcase-arrow-previous {
	width: 27px;
	height: 53px;
	background-image: url(../images/assets-ico.png);
	background-repeat: no-repeat;
	background-position: -27px 0;
	position: absolute;
	top: 45px;
	right: 0;
	cursor: pointer;
	transition: .2s ease-in-out
}
.showcase .showcase-arrow-previous:hover {
	background-position: -32px 0;
	transition: .2s ease-in-out
}

#result_form_search{
	font-size:13px;
	font-family:Arial, Helvetica, sans-serif;
}
a#search_again{
	margin:10px 1px;
	padding:6px 26px;
	font-size:13px;
}
/* ===== End Of GENERAL CONTENT ===== */

/* ===== ICON Style ===== */
span.ico {
	display: block
}
i {
	display: inline-block
}
i.member-ico {
	float: left;
	width: 60px;
	height: 56px;
	background-image: url(../images/assets-ico.png);
	background-repeat: no-repeat;
	background-position: -56px 0
}
i.register-ico {
	float: left;
	width: 73px;
	height: 56px;
	background-image: url(../images/assets-ico.png);
	background-repeat: no-repeat;
	background-position: -118px 0
}
i.testi-ico {
	width: 165px;
	height: 165px;
	background-image: url(../images/testimonial-ico.png);
	background-repeat: no-repeat;
	background-position: center;
	margin-bottom: 40px
}
/* For Social Media Icon */
.for-sm i {
	float: left;
	width: 40px;
	height: 36px;
	margin-right: 5px !important;
	transition: all .4s ease-in-out
}
.for-sm i:hover {
	transition: all .4s ease-in-out
}
i.facebook-ico {
	background-image: url(../images/assets-ico.png);
	background-repeat: no-repeat;
	background-position: -5px -58px
}
i.facebook-ico:hover {
	background-position: -5px -96px
}
i.twitter-ico {
	background-image: url(../images/assets-ico.png);
	background-repeat: no-repeat;
	background-position: -48px -58px
}
i.twitter-ico:hover {
	background-position: -48px -96px
}
i.gplus-ico {
	background-image: url(../images/assets-ico.png);
	background-repeat: no-repeat;
	background-position: -92px -58px
}
i.gplus-ico:hover {
	background-position: -92px -96px
}
i.linkin-ico {
	background-image: url(../images/assets-ico.png);
	background-repeat: no-repeat;
	background-position: -134px -58px
}
i.linkin-ico:hover {
	background-position: -134px -96px
}
i.mail-ico {
	background-image: url(../images/assets-ico.png);
	background-repeat: no-repeat;
	background-position: -178px -58px
}
i.mail-ico:hover {
	background-position: -178px -96px
}
/* ===== End of ICON Style ===== */

/* ===== BUTTON Style ===== */
.btn {
	font-family: Arial;
	font-size: 14px;
	padding: 6px 26px
}
.dark-blue {
	background: #19394d;
	color: #f1c98a !important;
	border: 1px solid #79eaff
}
.dark-blue:hover {
	background: #f3bc66
}
a.dark-blue:hover {
	color: #19394d !important
}
.btn-s-tabs {
	border: 0;
	background: #0099b5;
	color: #fff;
	padding: 6px 36px;
	cursor: pointer;
	transition: .3s ease-in-out
}
.btn-s-tabs:hover {
	box-shadow: 0 0 5px #0099b5;
	-ms-box-shadow: 0 0 5px #0099b5;
	-o-box-shadow: 0 0 5px #0099b5;
	transition: .3s ease-in-out
}
.medium {
	padding: 6px 16px
}
/* ===== BUTTON Style ===== */

/* ===== FOOTER Style ===== */
footer {
	width: 100%;
	height: 230px;
	background: #19394d;
	position: relative
}
footer h4 {
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
	color: #f1c98a;
	text-transform: uppercase
}
footer dl {
	padding-top: 20px
}
footer dl dd {
	float: left;
	margin-right: 60px
}
footer ul {
	padding-top: 10px;
	margin-right: 40px
}
footer ul li {
	padding-bottom: 5px
}
footer ul li a {
	color: #dfdfdf;
	font-size: 14px;
	font-family: Arial
}
footer ul li a:hover {
	color: #f3bc66
}
footer .copyright {
	width: 100%;
	height: 46px;
	background: #081f2d;
	position: absolute;
	bottom: 0
}
footer .copyright p {
	font-family: Arial;
	font-size: 12px;
	text-align: right;
	color: #f1c98a;
	margin-top: 15px
}
/* ===== End of FOOTER Style ===== */

.minimal{
	margin:2px 5px 2px 5px;
	border:solid green 1px;
	padding: 5px;
}


fieldset {
	border: 0;
	width:800px;
	position:relative;
	
}

fieldset ol {
	list-style-type: none;
	padding: 0;
	
}

fieldset label {
	text-align: left;
	margin: 4px 8px 6px 0;
	display : inline-block;
}

form label{
width:200px;
}
form .inline label{

}

fieldset input {
	width:300px;
}


fieldset li {
	margin-bottom: 12px;
	/**float:left;**/
}


.small {
	font-size: 12px;
}
#comparable_property_id{
	float: left; margin:0; padding:0;
}
#remove_file_1, #remove_file_2, #remove_file_3, #remove_file_4{
	display:inline;
	margin-left:150px;
	cursor: pointer;
}
.ui-autocomplete-loading {
	background: url(/images/autocomplete.gif) right center no-repeat !important
}
.inline-error{
	display:inline;
	color:#ff4040;
	padding-left:10px;
}
img.c_img{
	width:15px;
	height:15px;
}
input #form-terms{
	float:left;
}
.name{
	float:left;
}
label[for=form_lastname], label[for=form_street_address]
{
    display:none;
}
label[for=form_type],label[for=form_bedrooms]
{
    width:100px; margin-left:10px;
}
label[for=form_carspots]{
	width:30px; margin-left:5px;
}
label[for=form_bathrooms]{
	width:70px; margin-left:5px;
}
label[for=form_landsize]{
	width:160px; margin-left:5px;
}
#form_landsize{
	width:100px;
}
.hlabel
{
    display:none;
}
input[type='checkbox'] { 
	float:left;
}
#form_location{
	width:350px; display:inline;
}
.forcefloat{
	float:left;
}
.inline{
	display:inline-block;
}
.nline{
	display:block;
}
.cb{
	width:300px; display:inline-block;
}
.cb label { 
	display:inline-block;
}
.cb input[type='checkbox'] { 
	width:20px;
}
.typestyle{
	width:250px; display:inline-block;
}
.fileUpload {
	position: relative;
	overflow: hidden;
	margin: 10px;
}
.thumbnail{
	width:100px; height:70px;
}
.fileUpload input#form_browser1{
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}
.block_1{
	width:300px;
	float:left;
}
.block_2{
	float:right;
	width:250px;
	padding:10px 0 0 10px;
	border-style:solid;
	border-width:thin;
}
.block_2 img{
	margin-left:10px;
}
.title_2{
	font-size:30px;
	text-transform:uppercase;
	text-align:center;
}
.title_3{
	font-size:16px;
	font-family:Arial;
}
.tab_content_1{
	float:left;
	width:490px;
}
.tab_content_2{
	float:left;
	width:400px;
	margin-left:15px;
}
.content_box_1, .content_box_2{
	position:relative;
	width:430px;
	height:100px;
	margin-bottom:20px;
	margin-top:20px;
	border-style:solid;
	border-width:thin;
}
.content_box_1{
	float:left;
}
.content_box_2{
	float:right;
}
.clear{
	clear:both;
}
.floatleft{
	float:left;
	width:700px;
}
.header_reg img{
	float:right;
	margin-right:10px;
}
.header_reg {
	height:30px;
	
}
li.firstname{
	
}
li.lastname{
	position:absolute;
	top:20px;
	right:156px;
}
#form_terms{
	width:20px;
}
label[for=form_terms]
{
    width:400px;
}
#form_firstname, #form_lastname{
	width:200px; margin-right:30px;
}
#form_lastname{
	margin-top:3px;
}
#footer{
	margin-top:100px;
}
#img_3, #form_pic_3,#img_4, #form_pic_4,#img_5, #form_pic_5{
 display:none;
}
/**add listing**/
fieldset input#form_street_number{
	width:50px; display:inline;
}
fieldset input#form_street_address{
	width:200px; display:inline;
}
label[for=between], label[for=above]
{
    width:100px;
}
 label[for=yes_1], label[for=no_1],label[for=yes_2], label[for=no_2],label[for=yes_3], label[for=no_3],label[for=yes_4], label[for=no_4], label[for=yes_5], label[for=no_5]
{
    width:30px;
}
/*input for comparable property*/
.c_address,.c_sold,.c_price,.c_type,.c_bedroom,.c_bathroom,.c_carspot,.c_remove{
	display:inline-block;
}
.c_bedroom,.c_bathroom,.c_carspot{
	width:50px;
}
.c_remove{
	cursor: pointer;
}
#c_address, .c_address{
	width:200px;
	margin:5px;
}
#c_sold,.c_sold
{
	width:85px;
	margin:5px;
}
#c_price{
	width:60px;
	margin:5px;
}
.c_price{
 width:70px;
 margin:10px;
}
#c_type, .c_type{
	width:100px;
	margin:5px;
}
#c_bedroom,#c_bathroom,#c_carspot{

}
.add_another_comparable{
	cursor: pointer;
	display:block;
	width:100px;
}
input[type='radio'] { 
	width:50px; float:left; margin-left:0;
}
/**placeholder**/
		::-webkit-input-placeholder	{ color:#f00; }
		input:-moz-placeholder { color:#f00; }
		
		input:-ms-placeholder { color:#f00; }
		::-ms-input-placeholder	{ color:#f00; }
		:-ms-input-placeholder	{ color:#f00; }
		
		/* individual */
		#field2::-webkit-input-placeholder { color:#00f; }
		
		#field2::-moz-placeholder { color:#00f; }
		
/**popup**/

#dialog{
position:fixed;
width:auto;
height:auto;
background-color:#b0c4de;
display:none;
}